server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: orchestrateur_route
          uri: http://localhost:8085
          predicates:
            - Path=/api/trajet-intelligent**
          filters:
            - RewritePath=/api/trajet-intelligent/(?<segment>.*), /trajet-intelligent/${segment}

        - id: mobilite_route
          uri: http://localhost:8081
          predicates:
            - Path=/api/mobilite/**
          filters:
            - RewritePath=/api/mobilite/(?<segment>.*), /mobilite/${segment}

        - id: qualiteair_route
          uri: http://localhost:8082
          predicates:
            - Path=/api/qualiteair/**
          filters:
            - RewritePath=/api/qualiteair/(?<segment>.*), /qualiteair/${segment}

        - id: profils_route
          uri: http://localhost:4000
          predicates:
            - Path=/api/profils/**
          filters:
            - RewritePath=/api/profils/(?<segment>.*), /profils/${segment}

      # **********************************************
      # CORRECTION CRUCIALE : Configuration CORS
      # Autorise le client web sur le port 3000 à accéder à la Gateway sur 8080
      # **********************************************
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
            allowedHeaders: "*"
            allowCredentials: true